.goods-list {
    display: flex;
    justify-content: space-around;
    margin: 24px;
}

.goods-item {
    width: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    text-align: center;
    background-color: blanchedalmond;
    padding: 2px 2px;
}